<strong>Olá, {{user.name}}</strong>
<p>Lamentamos o incoveniente, mas você teve uma entrega cancelada</p>
<p>Produto: <strong>{{data.delivery.product}}</strong></p>
<small>Em caso de dúvidas mande email para {{data.contactMail}}</small>
